.app-header{
    display:flex;
    background-color: #000000;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.app-header .brand{
    color: #ffffff;
    margin:auto;
    font-size: 24px;
    font-weight: 700;
}